@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

:root {
  --color-bg: #eee;

  --color-gray1: #999999;
  --color-gray2: #7c7c7c;
  --color-gray3: #383838;
}

html {
  scroll-behavior: smooth;
}

* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: var(--bg-color);

  margin: 0;
  height: 100vh;
}

.title-p1,
h2 {
  font-family: "Amatic SC", cursive;
  font-size: 1.5rem;
  letter-spacing: 7px;
}

.title-p2 {
  font-family: "Share Tech Mono", monospace;
  font-size: 30px;
}

.title-p1,
.title-p2,
h2 {
  color: var(--color-gray3);
  line-height: 2rem;
  text-transform: uppercase;
}

.title-p1:hover,
.title-p2:hover {
  color: var(--color-gray3);
  color: var(--color-gray1);
}

/********/

.slider-container {
  position: relative;
  width: 500px;
  overflow: hidden;
}

.slide {
  display: none;
  text-align: center;
  position: relative;
}

img {
  width: 100%;
  height: auto;
}

.arrow-icons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  transform: translateY(-50%);
  color: var(--color-bg);
}

.left-arrow,
.right-arrow {
  border: 1px solid var(--color-bg);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  background-color: #9999995b;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.left-arrow:hover,
.right-arrow:hover {
  color: var(--color-gray1);
  border: 1px solid var(--color-gray1);
  transform: translateY(-3px);
}
